* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to top, #ea31e6, #d86b2a);
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamContainer{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    box-shadow: 5px 5px 20px black;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.teamBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}

.teamCard {
    flex-basis: max(200px, max-content);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.teamHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.teamHeader > p{
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: max-content;
    border-bottom: 1px solid black; 
    font-size: 1.2rem;
}

div.teamCard > * {
    margin: 5px 0px;
}

img {
    width: 80px;
    border-radius: 50%;
}

.nameTag {
    font-weight: bold;
    font-size: 1.4rem;
}